PORT=3000
CLIENT_URL=your_client_url
DATABASE_URL=your_database_url
BASE64_PRIVATE_KEY=your_private_key
BASE64_PUBLIC_KEY=your_public_key
ENVIRONMENT=dev || stage || prod
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password